{% extends 'base.html' %}
{% block content %}
{% for item in items %}
{% with forloop.counter0 as idx %}
    <div class="solidborder" style="padding:17px;height: 300px;position: relative;">
        <span style="font-family:Verdana; position:absolute; left: 100px;top:10px;font-size: 50pt;">{{ item.no1 }}</span>
        <div style="position: absolute; width: 300px;height: 200px; border: 0px solid black; overflow: hidden;top: 90px;text-align: center">
        {% for icon in item.range1 %}
            <span style="float:left;width: 70px; height: 70px;position: relative">
                <img src="{{ path }}{{ item.icon }}">
            </span>
        {% endfor %}
        </div>

        <span style="position:absolute; left: 320px;top:70px;font-size: 100pt;">+</span>
        <span style="font-family:Verdana;position:absolute; left: 550px;top:10px;font-size: 50pt;">{{ item.no2 }}</span>
        <div style="position: absolute; width: 300px;height: 200px; border: 0px solid black; overflow: hidden;top: 90px;left: 400px;">
        {% for icon in item.range2 %}
            <span style="float:left;width: 70px; height: 70px;position: relative">
                <img src="{{ path }}{{ item.icon }}">
            </span>
        {% endfor %}
        </div>
        <span style="position:absolute; left: 700px;top:70px;font-size: 100pt;">=</span>
        <div style="display: block; position: absolute; left: 800px; top: 60px; width: 200px; height: 200px; border: 3px solid black">

        </div>

    </div>
    <div class="clearfix"></div>
{% endwith %}
{% endfor %}
{% endblock %}

