{% extends 'base.html' %}
{% block info %}<p>Taie si lipeste imaginea care urmeaza.</p>{% endblock %}
{% block page-size %}1200px;{% endblock %}
{% block content %}

{% for item in items %}
    <div class="solidborder" style="padding:17px;height: 215px; padding-top: 47px; padding-bottom: 0;">
    {% for food in item %}
        <div style="float:left;width: 130px;height: 130px;position: relative; padding-top: 10px;">
            <img src="{{ path }}/food/{{ food }}" width="120px;"/>
        </div>
    {% endfor %}
        <div style="float:left;width: 130px;height: 130px;position: relative; padding-top: 10px;">
            <img src="{{ path }}/food/{{ item.0 }}" width="120px;"/>
        </div>
        <div style="float:left;width: 130px;height: 130px;position: relative; padding-top: 10px;">
            <img src="{{ path }}/food/{{ item.1 }}" width="120px;"/>
        </div>
        <div style="float:left;width: 150px;height: 150px;position: relative; border: 2px solid black; margin-left:40px;">
        </div>
    </div>
    <div class="clearfix"></div>
{% endfor %}
{% endblock %}
{% block outter_content %}
    <div class="clearfix"></div>
    <div style="">
    {% for option in options %}
        <div class="dotted" style="float:left;width: 150px;padding-top:15px;padding-bottom:10px;height: 140px;margin-left: 100px;margin-top: 10px;text-align:center;">
            <img src="{{ path }}/food/{{ option }}" width="120px;" height="120px;"/>
        </div>
    {% endfor %}
    </div>
    <div class="clearfix"></div>
{% endblock %}

