{% extends 'base.html' %}
{% load index %}
{% block info %}<p>Numara imaginile din stanga si unestele cu cifra corecta.</p>{% endblock %}
{% block content %}
{% for item in items %}
    {% with forloop.counter0 as idx %}
        <div class="solidborder" style="float:left;width: 800px;height: 150px;position: relative;margin-top: 10px;margin-left: 5px;padding:15px;">
            {% for icon in item %}
            <div style="float: left;height: 60px;width:60px;margin: 5px 5px">
                <img src="{{ path }}food/{{ icons|index:idx }}"  style="object-fit: contain;"/>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
            <span style="position:absolute;left:900px;top:30px;font-size: 45pt;width: 100px;text-align: right">{{ numbers|index:idx }}</span>
        </div>
    {% endwith %}
{% endfor %}

{% endblock %}
